<app-patientvisitdashboard></app-patientvisitdashboard>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="col">
                    <form [formGroup]="vitalsigndetails" (ngSubmit)="addVitalSign()">
                        <mat-card-title style="text-align: center;">
                            <h2>Vital Sign Form</h2>
                        </mat-card-title>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                                <mat-select placeholder="Patient Name" formControlName="patientId" required>
                                    <mat-option *ngFor="let p1 of patientdata" [value]="p1.userId">
                                        {{ p1.firstname }} {{ p1.lastname }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                                <mat-select placeholder="Physicain Name" formControlName="physicianId" required>
                                    <mat-option *ngFor="let ph1 of phyasiciandata" [value]="ph1.userId">
                                        {{ ph1.firstname }} {{ ph1.lastname }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Height(in Cm)</mat-label>
                                <input matInput required type="text" formControlName="height">
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Weight(in Kg)</mat-label>
                                <input matInput required type="text" formControlName="weight">
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Blood Pressure(in Systolic )</mat-label>
                                <input matInput required type="text" formControlName="bloodPressure">
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Body Temperature</mat-label>
                                <input matInput required type="text" formControlName="bodyTemperature">
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Respiration Rate</mat-label>
                                <input matInput required type="text" formControlName="respirationRate">
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>

                        <div class="example-button-row">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>