<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container > 
   <mat-drawer mode="side" [opened]="sideBarOpen" >
    <app-patientvisitdashboard></app-patientvisitdashboard>
  </mat-drawer>
   <mat-drawer-content>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="col">

                        <mat-card-title style="text-align: center;">
                            <h2>Vital Sign Form</h2>
                        </mat-card-title>

                        <form [formGroup]="vitalsigndetails" (ngSubmit)="addVitalSign()">

                        <!-- <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                                <mat-select placeholder="Patient Name" formControlName="patientId" required>
                                    <mat-option *ngFor="let p1 of patientdata" [value]="p1.userId">
                                        {{ p1.firstname }} {{ p1.lastname }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="col-1"></div>
                        </div> -->

                        <!-- <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                                <mat-select placeholder="Physicain Name" formControlName="physicianId" required>
                                    <mat-option *ngFor="let ph1 of phyasiciandata" [value]="ph1.userId">
                                        {{ ph1.firstname }} {{ ph1.lastname }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div> -->

                        <div class="row">
                            <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Height(in Cm)</mat-label>
                                <input matInput required type="text" formControlName="height">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Weight(in Kg)</mat-label>
                                <input matInput required type="text" formControlName="weight">
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Blood Pressure(in Systolic )</mat-label>
                                <input matInput required type="text" formControlName="bloodPressure">
                            </mat-form-field>
                        </div>

                        <div class="row">
                            <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Body Temperature</mat-label>
                                <input matInput required type="text" formControlName="bodyTemperature">
                            </mat-form-field>
                           
                            <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Respiration Rate</mat-label>
                                <input matInput required type="text" formControlName="respirationRate">
                            </mat-form-field>
                        </div>

                        <div class="example-button-row">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary" (click)="Cancel()">
                              Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


</mat-drawer-content>
</mat-drawer-container> 