<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
            <img [src]="imgurl" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
        </li>
        <li class="nav-item">
            <a class="navbar-brand" style="padding-left: 3%;font-size: 200%;">CT General Hospital</a>
        </li>
      </ul>
      <ul class="navbar-nav" >
        <li class="nav-item">
            <a href="adminregistration" class="navbar-brand ">Admin Registration </a> 
        </li>
        <li class="nav-item">
          <a href="patientusermanagement" class="navbar-brand"> Patient user</a>
        </li>
          <li class="nav-item">
            <a href="hospitalusermanagement" class="navbar-brand" >Hospital User </a> 
        </li>
        <li class="nav-item">
          <a  class="navbar-brand " (click)="SignOut()">Sign out </a> 
      </li>
      </ul>
    </div>
  </nav>