<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <label for="username">First Name: </label>
    <input id="username" type="text" formControlName="username">
  
    <label for="password">Last Name: </label>
    <input id="password" type="text" formControlName="password">

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  
  </form> -->
<!-- 
  <a routerLink="sendnote">send note</a><br>

  <a routerLink="sendnote">send note</a><br>
  <a routerLink="receivednotes">Received Note</a><br>
  <a routerLink="sentnotes">Sent Notes</a><br>
  <a routerLink="allergyinformation">allergy</a><br>
  <a routerLink="replynote">reply note</a> -->

<div class="container">
    <div class="row">
        <div>
            <div class="card col-12 col-md-4">
                <div class="text-center">
                    <h2>Login</h2>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">

                    <div class="form-group mb-3">
    
                        <label for="username" class=".col-form-label">User Name: </label> 
                        <input id="username" type="text" formControlName="username" class="form-control" 
                                        [ngClass]="{ 'is-invalid': isSubmitted && f.username.errors }" placeholder="Enter Username">
                       
                        <span class="text-danger" *ngIf="loginForm.controls['username'].touched && loginForm.hasError('required','username')">This field cannot be empty.</span>
                    </div>
    
                    <div class="form-group mb-4">
    
                        <label for="password" class=".col-form-label">Password: </label> 
                        <input id="password" type="password" formControlName="password" class="form-control" 
                                        [ngClass]="{ 'is-invalid': isSubmitted && f.password.errors }" placeholder="Enter Password">
-----m        
                        <span class="text-danger" *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required','password')">This field cannot be empty.</span>
                        <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('pattern','password')">Password entry does not meet criteria.</span>
                    </div>        
                               
                    <button type="submit" class="btn btn-primary mb-3 d-grid gap-2" style="width: 100px;" [disabled]="!loginForm.valid">Login</button>
                    
                  </form>
                 
                  <div style="text-align: center;" class="mb-3">
                    <a routerLink="forgotpassword" >Forgot Password?</a>
                  </div>
                  
                  <div style="text-align: center;">New to CT General Hospital?</div>
                  <div style="text-align: center;">
                    <a routerLink="Patientregistration">Register Here</a>
                  </div>
            </div>
        </div>
    </div>
</div>
