.card{
    margin-top: 10px;
    border: none;
    padding: 30px;
    /* position: absolute; */
    top:50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
    background: rgb(204, 230, 227);
  background: linear-gradient(90deg, rgb(204, 230, 227)0%, rgb(204, 230, 227)100%);
}

.card h2{
    color: rgb(65, 25, 25);
}

label{
    color: white;
}

/* .container-fluid{
    background: hsla(205, 40%, 30%, 1);
} */

.backbutton{
    margin-left: 16px;;
}

.mydiv{
    color: red;
}

/* drawer css  */

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  mat-drawer {
    width: 250px;
    background: #2c3344 !important;

    color: aliceblue;
  }
  
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer-content {
    padding: 20px;
  }