
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container > 
   <mat-drawer mode="side" [opened]="sideBarOpen" >
    <app-patientvisitdashboard></app-patientvisitdashboard>
  </mat-drawer>
   <mat-drawer-content>

    <div class="container">
      <div class="row">
         <div class="col">
             <div class="card col-12 col-md-12 mt-2">

            <mat-card-title style="text-align: center;">
              <h2>Diagnosis Form</h2>
            </mat-card-title>

            <form [formGroup]="diagnosisdetails" (ngSubmit)="diagnosisadded()" >

            <div class="row">
              <!-- <mat-form-field appearance="outline" class="full-width col-4">
                <mat-select
                  placeholder="Patient Name"
                  formControlName="patientId"
                  required>
                  <mat-option *ngFor="let p1 of patientdata" [value]="p1.userId">
                    {{ p1.firstname }}   {{ p1.lastname }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf='diagnosisdetails.controls.patientId.touched && diagnosisdetails.controls.patientId.errors?.required' class="alert alert-danger">
                Patient name is Required
              </div> -->
           
              <!-- <mat-form-field appearance="outline" class="full-width col-4">
                <mat-select
                  placeholder="Physician Name"
                  formControlName="physicianId"
                  required>
                  <mat-option *ngFor="let ph1 of phyasiciandata" [value]="ph1.userId">
                    {{ ph1.firstname }}   {{ ph1.lastname }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf='diagnosisdetails.controls.physicianId.touched && diagnosisdetails.controls.physicianId.errors?.required' class="alert alert-danger">
                Physician name is Required
              </div> -->
              
              <mat-form-field appearance="outline" class="full-width col-4">
                <mat-select
                  placeholder="Diagnosis Code"
                  formControlName="diagnosisCode"
                  required>
                  <mat-option *ngFor="let al of diagnosismasterdata" [value]="al.diagnosisCode">
                    {{ al.diagnosisCode }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf='diagnosisdetails.controls.diagnosisCode.touched && diagnosisdetails.controls.diagnosisCode.errors?.required' class="alert alert-danger">
                diagnosis Code is Required
              </div>
            
              <mat-form-field appearance="outline" class="full-width col-8">
                <mat-select
                  placeholder="Diagnosis Description"
                  formControlName="diagnosisDescription"
                  required>
                  <mat-option *ngFor="let al of diagnosismasterdata" [value]="al.diagnosisDescription">
                    {{ al.diagnosisDescription }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf='diagnosisdetails.controls.diagnosisCode.touched && diagnosisdetails.controls.diagnosisCode.errors?.required' class="alert alert-danger">
                Diagnosis Description is Required
              </div>
            </div>
            
            <div class="row">
              <div class="full-width col-10">
                <button type="submit"
                type="submit" [disabled]='!diagnosisdetails.valid' class="btn btn-primary" >Add</button>
                &nbsp;&nbsp;
                <button class="btn btn-primary" (click)="Cancel()">
                  Cancel
                </button>
              </div>            
            </div>
     
          </form>

        </div>
      </div>
    </div>
  </div>


</mat-drawer-content>
</mat-drawer-container> 



