<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="col">
          <form [formGroup]="diagnosisdetails" (ngSubmit)="addDiagnosis()" >
            <mat-card-title style="text-align: center;">
              <h2>Diagnosis Form</h2>
            </mat-card-title>
            <div class="row">
              <mat-form-field class="full-width col-10">
                <mat-select
                  placeholder="Diagnosis Code"
                  formControlName="diagnosisCode"
                  required
                >
                  <mat-option *ngFor="let al of Code" [value]="al">
                    {{ al }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf='diagnosisdetails.controls.diagnosisCode.touched && diagnosisdetails.controls.diagnosisCode.errors?.required' class="alert alert-danger">
                diagnosisCode is Required
              </div>
            </div>
            <div class="row">
              <mat-form-field class="full-width col-10">
                <mat-select
                  placeholder="Diagnosis Description"
                  formControlName="diagnosisDescription"
                  required
                >
                  <mat-option *ngFor="let al of Description" [value]="al">
                    {{ al }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf='diagnosisdetails.controls.diagnosisCode.touched && diagnosisdetails.controls.diagnosisCode.errors?.required' class="alert alert-danger">
                diagnosisCode is Required
              </div>
            </div>
            
            <button type="submit"
            type="submit" [disabled]='!diagnosisdetails.valid' class="btn btn-primary"
          >
            Add
          </button>&nbsp;&nbsp;
          <button mat-flat-button color="primary" (click)="Back()">Cancel</button>
          </form>
          
         
        </div>
      </div>
    </div>
  </div>
</div>



