<div class="container ps-md-0">
<div class="row">
 <div class="card">
   <div class="d-none d-md-flex col-md-4 col-lg-6"></div>
    <div class="col-md-8 col-lg-12">
      <div class="align-items-center">
        <div class="row">
          <div class="col-md-9 col-lg-4 mx-auto">
            <h3 class="login-heading mb-4">Change Password</h3>
            <form [formGroup]="changepassForm" (ngSubmit)="onSubmit()">
              <div class="mb-3 mt-3">
                <label for="password" class="form-label">Old Password:</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div *ngIf='changepassForm.controls.password.touched && changepassForm.controls.password.errors?.required' class="alert alert-danger">
                  Password is Required
                </div>
               
              </div>
              <div class="mb-3">
                <label for="pwd" class="form-label">New Password:</label>
                <input type="password" class="form-control" id="newPassword" formControlName="newpassword">
                <div *ngIf='changepassForm.controls.newpassword.touched && changepassForm.controls.newpassword.invalid' class="alert alert-danger">
                  <div *ngIf='changepassForm.controls.newpassword.errors?.minLength'> Min 8 charactor required</div>
                  <div *ngIf='changepassForm.controls.newpassword.errors?.required'> Newpasword is required</div>
                </div>
              </div>
              <div class="mb-3">
                  <label for="pwd" class="form-label">Confirm Password:</label>
                  <input type="password" class="form-control" id="confirmPassword"  formControlName="confirmnewpassword">
                  <div *ngIf='changepassForm.controls.confirmnewpassword.touched && changepassForm.controls.confirmnewpassword.invalid' class="alert alert-danger">
                    <div *ngIf='changepassForm.controls.confirmnewpassword.errors?.required'>Cofirm pasword is required</div>
                    <div *ngIf='changepassForm.controls.confirmnewpassword.errors?.confirmedValidator'>Password Must match</div>
                  </div>
              </div> 
              <button type="submit" [disabled]='!changepassForm.valid' class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
