.card{

    margin-top: 10px;
    margin-right:50px;

    border: none;

    padding: 30px;

    position: absolute;

    top:50%;

    left: 50%;
     width: 60%;
    transform: translate(-50%,-50%);

    background: rgb(233, 232, 220);

    background: linear-gradient(90deg, rgb(228, 236, 205)0%, rgb(160, 222, 233)100%);

}



.card h2{

    color: white;

}