.demoinfobtn{
    width: 50%;
    color: white;
    background-color: darkslategray;
}

.allergybtn{
    width: 50%;
    color: white;
    background-color: darkslategray;
}

.allerfydiv{
    margin-left: -100px;
}
.schedulingbtn{
    color: white;
    background-color: darkslategray;
}

.schedulingdiv{
    margin-left: -100px;
}
h1{
    color: red;
}

.img{
    width: 100%;
    height: 10%;
}

.navbar-collapse {
    position: absolute;
    top: 54px;
    right: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: all 0.4s ease;
    display: block;
}
.navbar-collapse.collapsing {
    height: auto !important;
    margin-right: 50%;
    right: 50%;
    transition: all 0.2s ease;
}
.navbar-collapse.show {
    right: 0;
}