<div class="container">
  <div class="row">
      <div class="col">
          <div class="card col-md-4">
              <div class="text-center">
                  <h2>Add Nurse</h2>
              </div>
              <form [formGroup]="Nurseform" (ngSubmit)="AddNurse()"> 

                <div class="form-group">
                  <label class="col-sm-4 control-label">Title</label>
                  <div class="col-sm-12">
                      <label class="radio-inline col-sm-3"> <input class="form-check-input" formControlName="title"  type="radio" name="title" id="inlineMR" value="Mr"> Mr. </label>
                      <label class="radio-inline col-sm-3"> <input class="form-check-input" formControlName="title" type="radio" name="title" id="inlineMS" value="Ms"> Ms. </label>
                      <label class="radio-inline col-sm-3"> <input class="form-check-input" formControlName="title" type="radio" name="title" id="inlineMrs" value="Mrs"> Mrs. </label>
                      <label class="radio-inline col-sm-3"> <input class="form-check-input" formControlName="title" type="radio" name="title" id="inlineDR" value="Dr"> Dr. </label>

                    </div>
              </div>
                  <!-- <div class="form-group">
                    
                      <label for="select">Title</label>
                      <div  class="row">
                        <div class="form-group">
                          <input class="form-check-input" formControlName="title"  type="radio" name="title" id="inlineMR" value="Mr">
                          <label class="form-check-label" class="form-label" for="inlineMR">Mr.</label>
                       </div>
                       <div class="form-group">
                        <input class="form-check-input" formControlName="title" type="radio" name="title" id="inlineMS" value="Ms">
                        <label class="form-check-label" class="form-label" for="inlineMS">Ms.</label>
                      </div>
                      
                      <div class="col-2">
                        <input class="form-check-input" formControlName="title" type="radio" name="title" id="inlineMrs" value="Mrs">
                        <label class="form-check-label" class="form-label" for="inlineMrs">Mrs.</label>
                      </div>
                      <div class="col-2">
                        <input class="form-check-input" formControlName="title" type="radio" name="title" id="inlineDR" value="Dr">
                        <label class="form-check-label" class="form-label" for="inlineDR">Dr.</label>
                      </div>
                    </div>
                  </div>
                   -->
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">First Name</label>
                    <input formControlName="firstname" required type="text" placeholder="Please Enter First Name" class="form-control" id="InputFname">
                  <span class="text-danger" *ngIf="Nurseform.controls['firstname'].dirty && Nurseform.hasError('required','firstname')">First name can not be empty.</span>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1" class="form-label">Last Name</label>
                      <input formControlName="lastname" required type="text" placeholder="Please Enter Last Name" class="form-control" id="InputLname">
                      <span class="text-danger" *ngIf="Nurseform.controls['lastname'].dirty && Nurseform.hasError('required','lastname')">Last name can not be empty.</span>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="form-label">Email Id</label>
                      <input  formControlName="emailId" required type="email" placeholder="Please Enter Email Id" class="form-control" id="InputEmailid" [(ngModel)]="setemailid">
                      <span class="text-danger" *ngIf="Nurseform.controls['emailId'].dirty && Nurseform.hasError('required','emailId')">Please enter you email address.</span>
                      <span class="text-danger" *ngIf="Nurseform.controls['emailId'].dirty && Nurseform.hasError('email','emailId')">Please enter valid email address.</span>

                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="form-label">Date Of Birth</label>
                      <input formControlName="dob" required type="date" max="2021-11-27" class="form-control" id="InputDOB">
                      <span class="text-danger" *ngIf="Nurseform.controls['dob'].dirty && Nurseform.hasError('required','dob')">Please select date in mm/dd/yyyy format.</span>

                    </div>

                    <div class="form-group">
                      <label for="exampleInputPassword1" class="form-label">Date Of Joining</label>
                      <input formControlName="doj" required type="date" max="2021-11-27" class="form-control" id="InputDOB">
                      <span class="text-danger" *ngIf="Nurseform.controls['doj'].dirty && Nurseform.hasError('required','doj')">Please select date in mm/dd/yyyy format.</span>

                    </div>
                    <!-- <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Role</label>
                      <div class="mb-3">
                        <input class="form-control" formControlName='role' required list="roledatalistOptions" id="roleDataList" placeholder="Type to search role...">
                        <span class="text-danger" *ngIf="Nurseform.controls['role'].touched && Nurseform.hasError('required','role')">Please select role.</span>
                        <datalist id="roledatalistOptions">
                          <option value="Physician">
                          <option value="Nurse">
                          <option value="Admin">
                        </datalist>
                      </div>
                    </div> -->

                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Status</label>
                      <div class="mb-3">
                        <input class="form-control" formControlName='status' required list="StatusOptions" id="StatusList" placeholder="Type to search status...">
                        <span class="text-danger" *ngIf="Nurseform.controls['status'].touched && Nurseform.hasError('required','status')">Please select role.</span>
                        <datalist id="StatusOptions">
                          <option value="Active">
                          <option value="Deactivate">
                          <option value="Block">
                        </datalist>
                      </div>
                    </div>
                  <button type="submit" [disabled]="!Nurseform.valid" class="btn btn-primary">Save</button>&nbsp;
                  <button type="button" (click)="backtoNurse()" class="btn btn-primary backbutton">Cancel</button>
                  <!--  -->
                </form>
               

          </div>
      </div>
  </div>
</div>
