.hospitalHeader{
    text-align: center;
    color: rgb(18, 24, 32);
}


.Physicianbtn{
    width: 50%

}

.nursebtn{
    width: 50%;
    /* float:right; */
}

.addNurse{
    float: right;
}
.Physiciandiv{
    margin-right: -161px;
}

.viewbtn{
    background-color: #0dcaf0 !important;
    margin-right: 16px;
}

.editbtn{
    width: 40%;
    background-color: #0d6efd !important;
    margin-right: 16px;
}

.deletebtn{
    width: 40%;
    background-color: #dc3545 !important;
    margin-right: 16px;
}

#ManagetOptions{
    width: 98%;
}
