<mat-divider></mat-divider>
<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <div  *ngIf="currentroleId==2">       
        <h2 style="color:white;">Physician </h2>
     </div>
     <div *ngIf="currentroleId==3">
       <h2 style="color:white;">Nurse </h2>
     </div>        
     <h4 style="color:white;">{{currentEmail}}</h4>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7FqSE46QFOJAAmw4ALVH4w1kR-IaV8cil9g&usqp=CAU" alt="Soufiane FADIL">
    <div class="text-center">
      {{currentFname}} {{currentLname}}
    </div>
  </div> 
    <mat-divider></mat-divider>
   
  
    <div *ngIf="currentroleId==3">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/visitdashboard">
        <mat-icon>home</mat-icon> <b style="font-size: 16px;">Home</b>
    </a>  
    </div> 
    <div *ngIf="currentroleId==2">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/physicianvisitdashboard">
        <mat-icon>home</mat-icon> <b style="font-size: 16px;">Home</b>
    </a> 
   </div>  
    <!-- <mat-accordion class="app-nav-accordion">
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon style="color: white;">list</mat-icon>&nbsp;&nbsp;&nbsp;
            <b style="font-size: 16px; color: white;">Patient Visit</b></mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/diagnosis"><b style="font-size: 16px;">Diagnosis</b></a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/medication"><b style="font-size: 16px;">Medication</b></a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/procedure"><b style="font-size: 16px;">Procedure</b></a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/vitalsigns"><b style="font-size: 16px;">Vitalsigns</b></a>

      </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion> -->
    <mat-accordion class="app-nav-accordion">
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon style="color: white;">list</mat-icon>&nbsp;&nbsp;&nbsp;<b style="font-size: 16px; color: white;">Notes</b></mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/sendnotes"><b style="font-size: 16px;">Send Note</b></a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/recievenotes"><b style="font-size: 16px;">Reciever Notes</b></a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/sentnotes"><b style="font-size: 16px;">Sent Notes</b></a>

      </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <a mat-list-item routerLink="/nursescheduling"> <mat-icon>calendar_today</mat-icon><b style="font-size: 16px;">Scheduling</b>  </a>

    <a mat-list-item  routerLink="" (click)="SignOut()"><mat-icon>exit_to_app</mat-icon><b style="font-size: 16px;">SignOut</b>  </a>

</mat-nav-list>

  

  