
.mat-divider {
  border-top-width: 2px;
  border-color: white;
}
.mat-list-item{
  color: white;
font-size: 0.8rem;
height: 44px !important;
margin-bottom: 4px;
}

:hover {
  color: #f7eaa0 !important;
  background-color:#2c3344 !important ;
}
.mat-list-item-content {
  border-radius: 5px;
  background: #2c3344 !important;
  margin: 0 8px;
}

img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card {
  text-align: center;
  padding: 0 20px 20px 20px;
  
} 
.ddcolour{
  color:#2c3344 !important ;
}

.active-list-item {
  color: #3F51B5 !important; /* Note: You could also use a custom theme */
}
:hover:active{
  color: red;
}
