.card{

    margin-top: 100px;

    border: none;

    padding: 30px;

    position: absolute;

    top:50%;

    left: 50%;

    transform: translate(-50%,-50%);

    background: rgb(204, 230, 227);
    background: linear-gradient(90deg, rgb(204, 230, 227)0%, rgb(204, 230, 227)100%);
}



/* .card h2{

    color: white;

} */



/* label{

    color: white;
} */

