<app-physiciandashboard></app-physiciandashboard>


<div class="container" style="text-align: center;">
    <!-- <button class="btn btn-primary Backbtn" (click)="backtoDashbors()" style="float: left;">Back</button> -->

    <button class="btn btn-primary" style="float: right; margin-right: 40px;" (click)="Editappointment()">Edit Appointment</button>
    <button class="btn btn-primary" style="float: right; margin-right: 10px" (click)="Deleteappointment()">Delete Appointment</button>

    <div class="row">
        <div class="patientHeader">
            <h1>Physician Scheduling Page</h1>
        </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <!-- <ejs-schedule  [selectedDate]='selectedDate' [currentView]='currentView' [eventSettings]='eventSettings'></ejs-schedule> -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Schedule ID</th>
                <th>Meeting Title</th>
                <th>Appointment Date</th>
                <th>Appoiment Time</th>
            </tr>
        </thead>
        <!-- | orderBy: key:reverse  -->
        <tbody>
            <tr *ngFor="let data of calenderData | paginate: { itemsPerPage: 5, currentPage: p }; ">
                <td>{{ data.schedulingId }}</td>
                <td>{{ data.meetingTitle }}</td>
                <td>{{ data.dateOfAppointment | date:'yyyy-MM-dd'}}</td>
                <td>{{ data.timeOfAppointment }}</td>
            </tr>
        </tbody>
       <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
        </div>
      </div>
       
    </div>
</div>
