<div class="container-fuild">
    <div class="row">
        <div class="col-md-12">
            <div class="card col-md-8">
                <div class="col-md-12">
                    <form class="createAppointment" [formGroup]="createAppointment">
                        <div>
                            <a style="color:rgb(24, 24, 221);" (click)="backtodashboard()">Back</a>
                            <mat-card-title style="text-align: center;">
                                <h2>Add Appointment</h2>
                            </mat-card-title>
                        </div>
                        <div class="row">

                            <mat-form-field class="full-width col-10">

                                <mat-select placeholder="Physican Name" formControlName="physicianname" >

                                    <mat-option *ngFor="let p1 of physicanname" [value]="p1" required>

                                        {{ p1 }}

                                    </mat-option>

                                </mat-select>

                            </mat-form-field>
                       </div>
                         <div class="row" >
                            <mat-form-field class="full-width col-10">
                                <mat-label>Meeting Description</mat-label>
                                <textarea matInput placeholder=" " formControlName="mettingdesc" required></textarea>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Date</mat-label>
                                <input matInput type="date" required  formControlName="date"/>
                            </mat-form-field>
                        </div>
                        <div class="row">

                            <mat-form-field class="full-width col-10">

                                <mat-select placeholder="Time" formControlName="time">

                                    <mat-option *ngFor="let al of Timeslot" [value]="al" required>

                                        {{ al }}

                                    </mat-option>

                                </mat-select>

                            </mat-form-field>

                        </div>
                            <div class="row">
                                <a class="patientdetails" (click)="backtodashboard()">Patient Details</a>
                            </div>
                    <br/>
                    <div class="example-button-row">
                        <button  class="btn btn-primary">Add Appointment</button> &nbsp;
                        <button class="btn btn-primary" (click)="backtodashboard()" >Cancle</button>
                    </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
