<!-- <app-header></app-header> -->
<div style="text-align: center;">

</div>
<!-- <a routerLink="diagnosis">Patient Registration</a> -->
<!-- <a routerLink="adminregistration">Admin Registration</a>  -->
<!-- <a routerLink="patientusermanagement">Patient user</a>&nbsp;   
 <a routerLink="hospitalusermanagement">Hospital User </a>  -->
<!-- <app-changepassword></app-changepassword> -->

 <!-- <a routerLink="diagnosis">Diagnosis</a> -->
<a routerLink="patientinformation">Patient Information</a> &nbsp;
<a routerLink="editpatientinformation">Editpatientinformation</a>

 <a routerLink="diagnosis">Diagnosis</a>&nbsp;  
 <a routerLink="medication">Medication</a>
 &nbsp;   
 <a routerLink="procedure">Procedure</a>
 &nbsp;   
 <a routerLink="vitalsigns">Vitalsigns</a>

<router-outlet></router-outlet>

