.card{

    margin-top: 10px;
    margin-right:50px;

    border: none;

    padding: 30px;

    position: absolute;

    top:50%;

    left: 50%;
     width: 70%;
    transform: translate(-50%,-50%);

    background: rgb(204, 230, 227);
    background: linear-gradient(90deg, rgb(204, 230, 227)0%, rgb(204, 230, 227)100%);


}

