<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<div class="container ps-md-0">
    <div class="row">
     <div class="card">
       <div class="d-none d-md-flex col-md-4 col-lg-6"></div>
        <div class="col-md-8 col-lg-12">
          <div class="align-items-center">
            <div class="row">
              <div class="col-md-9 col-lg-4 mx-auto">
                <h3 class="login-heading mb-4">Forgot Password</h3>
                <form [formGroup]="ForgotPassword" (ngSubmit)="onSubmit()">
                    <div class="mb-3 mt-3">
                        <label for="emailid" class="form-label">Email ID</label>
                        <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="setemail">
                        <!-- <div  *ngIf='ForgotPassword.controls.email.errors?.required' class="alert alert-danger">
                          Email ID is Required
                        </div>       -->
                        <span class="text-danger" *ngIf="ForgotPassword.controls['email'].dirty && ForgotPassword.hasError('required','email')">Please enter you email address.</span>
                        <span class="text-danger" *ngIf="ForgotPassword.controls['email'].dirty && ForgotPassword.hasError('email','email')">Please enter valid email address.</span>
                      </div>
                  <button type="submit" [disabled]='!ForgotPassword.valid' class="btn btn-primary">Submit</button>&nbsp;
                  <button type="reset" routerLink="/login" class="btn btn-primary">Cancel</button>&nbsp;

                </form>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    