<!-- <app-topnavuser></app-topnavuser> -->
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenavuser></app-sidenavuser>
    </mat-drawer>
    <mat-drawer-content>

        <div class="container">
            <div class="row">
                <div>

                    <div class="text-center">
                        <h2>Sent Notes</h2>
                    </div>
                    <table class="table table-striped table-bordered table-sm row-border table-hover">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Receiver</th>
                                <th>Designation</th>
                                <th>Date & Time</th>
                                <th>Urgency</th>
                                <!-- <th>Response</th> -->
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let sentNote of sentNotes.slice().reverse() | paginate: { itemsPerPage: 5, currentPage: p };">
                                <!-- <td>{{ sentNote.id }}</td> -->
                                <td>{{sentNote.receiverDesignation}}</td>
                                <td>{{sentNote.receiver}}</td>
                                <td>{{sentNote.dateTime}}</td>
                                <td>{{sentNote.urgency }}</td>
                                <!-- <td>{{sentNote.response}}</td> -->
                                <td>{{sentNote.message}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-4">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </mat-drawer-content>
</mat-drawer-container>