<app-topnavuser></app-topnavuser>
<app-sidenavuser></app-sidenavuser>

<div class="container">
    <div class="row">
        <div>
            <div class="card col-12 col-md-4">
                <div class="text-center">
                    <h2>Sent Notes</h2>
                </div>

                <div class="borderClass" *ngFor="let sentNote of sentNotes.slice().reverse()">

                    <div *ngIf="sentNote.isActive=='true'">
                        <div class="row col-sm-12 mb-1">
                            <div class="col-3 col-sm-2 receiverClass">{{sentNote.receiverDesignation}}</div>
                            <div class="col-3 col-sm-4 receiverClass">{{sentNote.receiver}}</div>
                            <div class="col-6 col-sm-6 dateClass">{{sentNote.dateTime}}</div>
                        </div>

                        <!-- <div class="row col-sm-12 mb-2">
                            <div *ngIf="sentNote.urgency=='Yes'" class="urgentClass">Urgent</div>
                            <div *ngIf="sentNote.urgency=='No'" class="notUrgentClass">Not Urgent</div>
                        </div> -->

                         <div class="row col-sm-12">
                            <div *ngIf="sentNote.response==''">Awaiting Response</div>
                            <div>{{sentNote.response}}</div>
                        </div>
                        <!-- <hr class="mb-0 mt-0"> -->

                        <div class="row col-sm-12 mb-2">
                            <div class="sentNoteClass">{{sentNote.message}}</div>
                        </div>
                        <div class="mb-1">
                            <!-- <button type="submit"  class="btn btn-primary">Reply</button>&nbsp; -->
                            <!-- <a routerLink="#">Reply</a>&nbsp;
                            <a routerLink="#" (click)="onDelete(sentNote.id)">Delete</a>&nbsp; -->
                            <!-- <button type="submit"  class="btn btn-light">Delete</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>