.hospitalHeader{
    text-align: center;
    color: darkblue;
}

.Physician{
  
}
.Physicianbtn{
    width: 50%
    
}

.nursebtn{
    width: 50%
}

.addphysician{
    float: right;
}
.Physiciandiv{
    margin-right: -161px;
}

.viewbtn{
    background-color: #0dcaf0 !important;
    margin-right: 16px;
}

.editbtn{
    width: 35%;
    background-color: #0d6efd !important;
    margin-right: 16px;
}

.deletebtn{
    width: 45%;
    background-color: #dc3545 !important;
    margin-right: 16px;
}

#ManagetOptions{
    width: 98%;
}
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    /* background-color: #f1f1f1; */
    cursor: pointer;
    font-size: 18px;
  }
  .active, .btn:hover {
    background-color: #666;
    color: white;
  }

  /* .card{
      background-color:skyblue;
  } */
