<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="hospitalHeader">
            <h1>Hospital User Management</h1>
        </div>
    </div>
    <div class="card col-md-12">
        <div class="row">
            <div class="col-md-6 Physiciandiv">
                <div class="Physician p-3">
                    <button type="button" class="btn active  Physicianbtn" (click)="DispayPhysicainGrid()">Physician</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="nurse p-3">
                    <button type="button" class="btn nursebtn" (click)="DispayNurseGrid()">Nurse</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row p-3">
            <div class="col-md -3 p-3">
                <div>
                    <button type="button" class="btn btn-primary  addphysician" (click)="Addphysicianrecord()">Add New</button>
                </div>

                <input type="text" name="Name" [(ngModel)]="Name" (ngModelChange)="search()"
                placeholder="Search here..." />

            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Date Of Joining</th>
                    <th>Status</th>
                    <th>Edit Status</th>
                    <th width="220px">Manage</th>
                </tr>
            </thead>
            <!-- | orderBy: key:reverse  -->
            <tbody>
                <tr *ngFor="let data of rowData | paginate: { itemsPerPage: 5, currentPage: p }; ">
                    <td>{{ data.id }}</td>
                    <td>{{ data.Name }}</td>
                    <td>{{ data.DateofJoining }}</td>
                    <td>{{ data.Status }}</td>
                    <td>
                        <select id="ManagetOptions">
                            <option value="{{data.Status}}">Active</option>
                            <option value="{{data.Status}}">Deactivate</option>
                            <option value="{{data.Status}}">Block</option>
                            <!-- <option value="{{Managelist}}">{{Managelist}}</option>     -->
                        </select>
                    </td>
                    <td>
                        <!-- [routerLink]="['/post/', post.id, 'view']" -->
                        <!-- [routerLink]="['/post/', post.id, 'edit']"  -->
                        <!-- (click)="deletePost(post.id)" -->
                        <!-- <a href="#" class="btn btn-info viewbtn">View</a> -->
                        <button type="button" class="btn btn-primary editbtn" (click)="edituser(data.id)">Edit</button>
                        <button type="button" (click)="deleteuser(data.id)" class="btn btn-danger deletebtn">Delete</button>
                    </td>
                </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </table>
        </div>
    </div>
</div>