<app-patientvisitdashboard></app-patientvisitdashboard>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="col">
                    <form [formGroup]="proceduredetails" (ngSubmit)="addProcedure()">
                        <mat-card-title style="text-align: center;">  
                            <h2>Procedure Form</h2>
                        </mat-card-title>
                        <div class="row">
                          <div class="col-1"></div>
                          <mat-form-field class="full-width col-10">
                            <mat-select
                              placeholder="Patient Name"
                              formControlName="patientId"
                              required
                            >
                              <mat-option *ngFor="let p1 of patientdata" [value]="p1.userId">
                                {{ p1.firstname }}   {{ p1.lastname }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <!-- <div *ngIf='patientmedForm.controls.patientId.touched && patientmedForm.controls.patientId.errors?.required' class="alert alert-danger">
                            Patient name is Required
                          </div> -->
                          <div class="col-1"></div>
                        </div>
                        <div class="row">
                          <div class="col-1"></div>
                          <mat-form-field class="full-width col-10">
                            <mat-select
                              placeholder="Physicain Name"
                              formControlName="physicianId"
                              required
                            >
                              <mat-option *ngFor="let ph1 of phyasiciandata" [value]="ph1.userId">
                                {{ ph1.firstname }}   {{ ph1.lastname }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <!-- <div *ngIf='patientmedForm.controls.physicianId.touched && patientmedForm.controls.physicianId.errors?.required' class="alert alert-danger">
                            Physicain name is Required
                          </div> -->
                          <div class="col-1"></div>
                        </div>
                      
                         <div class="row">
                          <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                                <mat-select
                                  placeholder="Procedure Code"
                                  formControlName="procedureCode"
                                  required
                                  [(ngModel)]="procedureCodeDdl" (selectionChange)="showOtherFieldsOnProcedureCode()"
                                >
                                  <mat-option *ngFor="let al of proceduremasterdata" [value]="al.procedureCode">
                                    {{ al.procedureCode }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <div class="col-1"></div>
                        </div>
                        <!-- <div class="row">
                            <mat-form-field class="full-width col-10">
                                <mat-select
                                  placeholder="Procedure Description"
                                  formControlName="procedureDescription"
                                 
                                   >
                                  <mat-option *ngFor="let al of proceduremasterdata" [value]="al.procedureCode">
                                    {{ al.procedureCode }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div> -->
                        <div class="row">
                          <div class="col-1"></div>
                          <mat-form-field appearance="legacy" class="full-width col-10">
                              <mat-label>Procedure Description</mat-label>
                              <input matInput required type="text" formControlName="procedureDescription" [value]="showProcedureDescription"> 
                           
                             
                          </mat-form-field>
                          <div class="col-1"></div>
                          
                      </div>
                        <div class="row">
                          <div class="col-1"></div>
                            <mat-radio-group name="id" formControlName="procedureIsDepricated" appearance="legacy" class="full-width col-10">
                            <mat-label> Procedure Is Depricated</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
                         <mat-radio-button value="Yes" >
                             Yes 
                         </mat-radio-button>&nbsp;&nbsp;
                         <mat-radio-button value="No" >
                            No
                        </mat-radio-button>
                        </mat-radio-group>
                        <div class="col-1"></div>
                     </div>
                     <div class="example-button-row">
                        <button type="submit"  class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- [disabled]='!proceduredetails.valid' -->


