<!-- 
<nav class="col-8 col-sm-2 navbar navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerSideNavPatient" aria-controls="navbarTogglerSideNavPatient" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerSideNavPatient" style="background-color: #e3f2fd;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="demographicinformation">Demographic Information</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link" href="allergyinformation">Allergy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="patientscheduling">Scheduling</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" (click)="SignOut()">Sign Out</a>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav> -->



<mat-divider></mat-divider>
<mat-nav-list>
  <div class="profile-card">
    <div class="header">
        <h2 style="color:white;">Patient </h2>
        <h4 style="color:white;">{{currentEmail}}</h4>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7FqSE46QFOJAAmw4ALVH4w1kR-IaV8cil9g&usqp=CAU" alt="Soufiane FADIL">
    <div class="text-center">
      {{currentFname}} {{currentLname}}
    </div>
  </div> 
    <mat-divider></mat-divider>
   
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/demographicinformation">
        <mat-icon>supervisor_account</mat-icon> <b style="font-size: 16px;">Demographic Information</b>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/allergyinformation">
      <mat-icon>info</mat-icon>  <b style="font-size: 16px;">Allergy</b>
    </a>
    <a mat-list-item routerLink="/patientscheduling"> <mat-icon>calendar_today</mat-icon><b style="font-size: 16px;">Scheduling</b>  </a>
    <a mat-list-item  routerLink="" (click)="SignOut()"><mat-icon>exit_to_app</mat-icon><b style="font-size: 16px;">SignOut</b>  </a>

</mat-nav-list>
