.card{
    margin-top: 300px;
    /* border: none; */
    padding: 30px;
    /* position: absolute; */
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid grey;

    /* background: rgb(183, 203, 233); */
    /* background: linear-gradient(90deg, rgb(154, 180, 219)0%, rgb(154, 180, 219)100%); */
}

/* .card h2{
    color: white;
}

label{
    color: white;
} */

.container-fluid{
    /* background: hsla(205, 40%, 30%, 1); */
    /* background:rgb(154, 180, 219); ; */
    border: 1px solid black;

}


/* drawer css  */

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  mat-drawer {
    width: 250px;
    background: #2c3344 !important;

    color: aliceblue;
  }
  
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer-content {
    padding: 20px;
  }