

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card col-md-4">
                <div class="text-center">
                    <h2>Update Nurse</h2>
                </div>
                <!-- (ngSubmit)="AddPhysician()" -->
                <!-- <form [formGroup]="updatephysician" >  -->
                  <!--  -->
  
                  <!-- <span class="mydiv"  *ngFor="let user of Hospitaluser">
                       <label  class="form-label"> {{user.Name}} </label>     
                  </span> -->
  
                  <div class="form-group">
                    <label  class="form-label">Employee ID</label> <br>
                    <label  class="form-label">{{EmpID}}</label>                  
                  </div>
  
  
                    <div class="form-group">
                      <label  class="form-label">Name</label>
                      <input formControlName="name" required type="text" value="{{Name}}" placeholder="Please Enter Name" class="form-control" id="InputFname">
                    <!-- <span class="text-danger" *ngIf="updatephysician.controls['name'].dirty && updatephysician.hasError('required','name')">Name can not be empty.</span> -->
                    </div>
  
                      <div class="form-group">
                        <label class="form-label">Date Of Birth</label>
                        <input formControlName="dob"  required type="date" value="{{DateofJoining}}" max="2021-11-27"  class="form-control" id="InputDOB">
                        <!-- <span class="text-danger" *ngIf="updatephysician.controls['dob'].dirty && updatephysician.hasError('required','dob')">Please select date in mm/dd/yyyy format.</span> -->
  
                      </div>
                      <!-- <div class="mb-3">
                        <label class="form-label">Status</label>
                        <div class="mb-3">
                          <input class="form-control" value="{{Status}}" formControlName='status' required list="StatustOptions" id="statusDataList" placeholder="Type to search status...">
                         
                          <datalist id="StatustOptions">
                            <option value="Active">
                            <option value="Deactivate">
                            <option value="Block">
                          </datalist>
                        </div>
                      </div> -->
                      <div class="mb-3">

                        <label class="form-label">Mobile Number</label>
            
                        <div class="mb-3">
            
                          <input class="form-control" value="{{number}}" formControlName="number" type="text"
            
                            id="Empnumber" placeholder="Please enter employee number....">
            
                        <!-- <span class="text-danger"
            
                            *ngIf="updatephysician.controls['number'].dirty && updatephysician.hasError('required','number')">Please
            
                            Enter employee Number.</span> -->
             
                        </div>
            
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" (click)="backtoNurse()" class="btn btn-primary backbutton">Cancel</button>
                      </div>
  
  
  
                    <!--  -->
                  <!-- </form> -->
  
  
            </div>
        </div>
    </div>
  
  </div> 
  