<!-- <div *ngFor="let receivedNote of receivedNotes">
    <div>{{receivedNote.senderDesignation}}</div>
    <div>{{receivedNote.sender}}</div>
    <div>{{receivedNote.dateTime}}</div>
    <div>{{receivedNote.dateTime}}</div>
    <div>{{receivedNote.urgency}}</div>
    <div>{{receivedNote.message}}</div>
</div> -->
<!-- <app-topnavuser></app-topnavuser> -->

<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container > 
   <mat-drawer mode="side" [opened]="sideBarOpen" >
    <app-sidenavuser></app-sidenavuser>
</mat-drawer>
   <mat-drawer-content>
       
    <div class="container">
        <div class="row">
            <div>

                <div class="text-center">
                    <h2>Received Notes</h2>
                </div>
                <table class="table table-striped table-bordered table-sm row-border table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Sender</th>
                            <th>Designation</th>
                            <th>DateTime</th>
                            <th>Urgency</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let receivedNote of receivedNotes.slice().reverse() | paginate: { itemsPerPage: 5, currentPage: p };">
                            <td>{{ receivedNote.id }}</td>
                            <td>{{receivedNote.senderDesignation}}</td>
                            <td>{{receivedNote.sender}}</td>
                            <td>{{receivedNote.dateTime}}</td>
                            <td>{{receivedNote.urgency }}</td>
                            <td>{{receivedNote.message}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-4">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    </div>
                </div>

            </div>
        </div>
    </div>
</mat-drawer-content>
</mat-drawer-container> 

  
  