<app-patientvisitdashboard></app-patientvisitdashboard>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="col">
                    <form [formGroup]="patientmedForm" (ngSubmit)="addMedication()">
                        <mat-card-title style="text-align: center;">
                            <h2>Medication Form</h2>
                        </mat-card-title>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                              <mat-select
                                placeholder="Patient Name"
                                formControlName="patientId"
                                required
                              >
                                <mat-option *ngFor="let p1 of patientdata" [value]="p1.userId">
                                  {{ p1.firstname }}   {{ p1.lastname }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <!-- <div *ngIf='patientmedForm.controls.patientId.touched && patientmedForm.controls.patientId.errors?.required' class="alert alert-danger">
                              Patient name is Required
                            </div> -->
                            <div class="col-1"></div>
                          </div>
                          <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                              <mat-select
                                placeholder="Physicain Name"
                                formControlName="physicianId"
                                required
                              >
                                <mat-option *ngFor="let ph1 of phyasiciandata" [value]="ph1.userId">
                                  {{ ph1.firstname }}   {{ ph1.lastname }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <!-- <div *ngIf='patientmedForm.controls.physicianId.touched && patientmedForm.controls.physicianId.errors?.required' class="alert alert-danger">
                              Physicain name is Required
                            </div> -->
                            <div class="col-1"></div>
                          </div>
                          <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                                <mat-select 
                                placeholder="Drug ID" 
                                formControlName="drugId"
                                [(ngModel)]="drugIdDdl" (selectionChange)="showOtherFieldsOnDrugId()">
                                
                                    <mat-option *ngFor="let al of drugmasterdata" [value]="al.drugId" >
                                        {{ al.drugId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Drug Name</mat-label>
                                <input matInput required type="text" formControlName="drugName" [value]="showDrugName"> 
                             
                               
                            </mat-form-field>
                            
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Drug Generic Name </mat-label>
                                <input matInput required formControlName="drugGenericName" [value]="showDrugGenericName">
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Drug Form</mat-label>
                                <input matInput required type="text" formControlName="drugForm" [value]="showDrugForm">   
                            </mat-form-field>
                            
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Drug strength </mat-label>
                                <input matInput required  formControlName="drugStrength" [value]="showDrugStrength">
                            </mat-form-field>

                        </div>
                        <!-- <div class="col-1"></div>
                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Active ingredient </mat-label>
                                <input matInput required formControlName="activeIngredient">
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div> -->
                        <div class="example-button-row">
                            <button type="submit"   class="btn btn-primary">Submit</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-outline-primary" (click)="Cancel()">
                              Cancel
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [disabled]='!patientmedForm.valid'  -->