<!-- <app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
    </mat-drawer>
    <mat-drawer-content>
         <router-outlet></router-outlet>
         -->
    <!-- </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer> --> 

<!-- <app-header></app-header> -->
 <!-- <img src="~src/assets/images/Homepageimg.jpg"> 
  -->
<!-- <img 
class="imgsize" 
src="https://morweb.org/get/files/image/galleries/This%20guide%20explores%208%20healthcare%20website%20design%20tips%20for%20any%20medical%20professional..jpg">  -->

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <img 

    class="imgsize" 

    src="https://morweb.org/get/files/image/galleries/This%20guide%20explores%208%20healthcare%20website%20design%20tips%20for%20any%20medical%20professional..jpg">  

  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Welcome to CT-Hospital</h2>
    <br>
    
    <button  mat-flat-button color="primary" routerLink='/login'>Login </button>
    <br>
    <br>
    <span>
      if not registered user then sign up
      </span>
      <br>
      <br>

     <!-- <button  mat-flat-button color="primary" routerLink="/adminregistration">Hospital User Registration </button> -->
     <!-- <br>
     <br> -->
     <button  mat-flat-button color="primary"  routerLink="/Patientregistration" >Patient User Registration </button>
 </div>
</div>

<!-- <app-login (myOutput) ="GetChildData($event)"></app-login> -->
<!-- 
<app-footer></app-footer> -->

