<div class="container">
  <div class="row">
      <div class="col">
          <div class="card col-md-4">
              <div class="text-center">
                  <h2>Update Physician</h2>
              </div>
              <!-- (ngSubmit)="AddPhysician()" -->
              <form [formGroup]="updatephysician" > 
                <!--  -->
            
                <!-- <span class="mydiv"  *ngFor="let user of Hospitaluser">
                     <label  class="form-label"> {{user.Name}} </label>     
                </span> -->
                <!-- {{Hospitaluser.EmpID}} -->
                <div class="form-group">
                  <label  class="form-label">Employee ID</label> <br>
                  <label  class="form-label">{{Hospitaluser.id}}</label>  
                  <!-- <input formControlName="EmpID" value="{{Hospitaluser.EmpID}}"  required type="text" class="form-control" id="InputEmpID"> -->
                
                </div>


                  <div class="form-group">
                    <label  class="form-label">Employee Name</label>
                    <input formControlName="Name" value="{{Hospitaluser.Name}}"  required type="text" placeholder="Please Enter Name" class="form-control" id="InputFname">
                  <!-- <span class="text-danger" *ngIf="updatephysician.controls['name'].dirty && updatephysician.hasError('required','name')">Name can not be empty.</span> -->
                  </div>

                    <div class="form-group">
                      <label class="form-label">Date Of Birth</label>
                      <input formControlName="DateofJoining"  required type="date" value="{{Hospitaluser.DateofJoining}}"  max="2021-11-27" class="form-control" id="InputDOB">
                      <!-- <span class="text-danger" *ngIf="updatephysician.controls['dob'].dirty && updatephysician.hasError('required','dob')">Please select date in mm/dd/yyyy format.</span> -->

                    </div>
                    <div class="mb-3">
                      <label class="form-label">Employee Number</label>
                      <div class="mb-3">
                        <input class="form-control" value="{{Hospitaluser.number}}"  formControlName="number" type="text" id="Empnumber" placeholder="Plaese eneter employee number....">
                        <!-- <span class="text-danger" *ngIf="updatephysician.controls['status'].touched && updatephysician.hasError('required','status')">Please select role.</span> -->
                        <!-- <datalist id="StatustOptions">
                          <option value="Active">
                          <option value="Deactivate">
                          <option value="Block">
                        </datalist> -->
                      </div>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-primary" (click)="updatephyasicaindata(id)">Update</button>
                      <button type="button" (click)="backtophysicain()" class="btn btn-primary backbutton">Cancel</button>
                    </div>
                </form>
          </div>
      </div>
  </div>

</div>