<div class="container">
  <div class="row">
    <div class="col">
      <div class="card col-md-4">
        <div class="text-center">
          <h2>Update Physician</h2>
        </div>
        <!-- (ngSubmit)="AddPhysician()" -->
        <form [formGroup]="updatephysician">
          <div class="form-group">
            <label class="form-label">Employee ID</label> <br>
            <label class="form-label">{{id}}</label>
          </div>
          <div class="form-group">
            <label class="form-label">Employee Name</label>
            <input formControlName="Name" value="{{Name}}" required type="text"
              placeholder="Please Enter Name" class="form-control" id="InputFname">
            <span class="text-danger"
              *ngIf="updatephysician.controls['Name'].dirty && updatephysician.hasError('required','Name')">Name can not
              be empty.</span>
          </div>

            <div class="form-group">
              <label class="form-label">Date Of Joining</label>
              <input formControlName="DateofJoining" required type="date" value="{{DateofJoining}}"
                max="2021-11-27" class="form-control" id="InputDOB">
              <span class="text-danger"
                *ngIf="updatephysician.controls['DateofJoining'].dirty && updatephysician.hasError('required','DateofJoining')">Please select
                date in mm/dd/yyyy format.</span>
            </div>

            <div class="mb-3">
              <label class="form-label">Status</label>
              <div class="mb-3">
                <input class="form-control" formControlName='Status' value="{{Status}}" required list="StatustOptions" id="statusDataList"
                  placeholder="Type to search status...">
                <!-- <span class="text-danger" *ngIf="Physicianform.controls['Status'].touched && Physicianform.hasError('required','Status')">Please select role.</span> -->
                <datalist id="StatustOptions">
                  <option value="Active">
                  <option value="Deactivate">
                  <option value="Block">
                </datalist>
              </div>
  
            </div>
          <div>
            <button type="submit" class="btn btn-primary" (click)="updatephyasicaindata(id)">Update</button>
            <button type="button" (click)="backtophysicain()" class="btn btn-primary backbutton">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>