<div class="container">
    <div class="row">
        <div class="patientHeader">
            <h1>Patient User Management</h1>
        </div>
    </div>
    <div class="card col-md-12">
        <div class="row">
            <div class="col-md-6 patientHeader">
                <div class="Patient p-3">
                    <button type="button" class="btn btn-secondary  Patientbtn" (click)="DispayPatientGrid()">Patient</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row p-3">
            <div class="col-md -3 p-3">
                <div>
                    <button type="button" class="btn btn-primary addpatient" (click)="Addpatientrecord()">Add New</button>
                </div>
  
                <input type="text" name="Name" [(ngModel)]="PatientName" (ngModelChange)="search()"
                placeholder="Search here..." />
  
            </div>
            <!-- <ag-grid-angular style="width: 1100px; height: 300px;" class="ag-theme-alpine" [rowData]="rowData"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef">
            </ag-grid-angular> -->
  
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th (click)="sort('PatientId')">Patient ID&nbsp;<i class="fa fa-sort"></i></th>
                    <th>PatientName</th>
                    <th>Date Of Joining</th>
                    <th>Status</th>
                    <th>Edit Status</th>
                    <th width="220px">Manage</th>
                </tr>
            </thead>
            <!-- | orderBy: key:reverse  -->
            <!-- | paginate: { itemsPerPage: 5, currentPage: p }; -->
            <tbody>
                <tr *ngFor="let data of PatientData | paginate: { itemsPerPage: 5, currentPage: p };">
                    <td>{{ data.PatientId }}</td>
                    <td>{{ data.PatientName }}</td>
                    <td>{{ data.DateofJoining }}</td>
                    <td>{{ data.Status }}</td>
                    <td>
                        <select id="ManagetOptions">
                            <option value="Active">Active</option>
                            <option value="Deactivate">Deactivate</option>
                            <option value="Block">Block</option>
                            <!-- <option value="{{Managelist}}">{{Managelist}}</option>     -->
  
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary editbtn" (click)="edituser(data.id)">Edit</button>
                        <button type="button" (click)="deleteuser(data.id)" class="btn btn-danger deletebtn">Delete</button>
                    </td>
                </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </table>
        </div>
    </div>
  </div>