
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container > 
   <mat-drawer mode="side" [opened]="sideBarOpen" >
       <app-nursedashboard></app-nursedashboard>
</mat-drawer>
   <mat-drawer-content>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="col">
                     <form  [formGroup]="createAppointment" (ngSubmit)="AddNurseAppointment()"> 
                        <div>
                        <mat-card-title style="text-align: center;">
                            <h2>Create Appointment</h2>
                        </mat-card-title>
                       </div>
                       
                            <div class="row" style="text-align: center;">
                                <div class="col-1"></div>
                                <mat-form-field class="full-width col-10">
                                    <mat-label>Meeting Title</mat-label>
                                    <textarea matInput placeholder="Meeting meetingTitle" formControlName="Meetingtitle"></textarea>
                                </mat-form-field>
                                <div class="col-1"></div>
                            </div>
                        <div>
                        <mat-card-title style="text-align: center;">
                            <h2>Description</h2>
                        </mat-card-title>
                    </div>
                        <div class="row" >
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                                <mat-select placeholder="selection of Patient" formControlName="patientId">
                               <mat-option *ngFor="let al of patientdata" [value]="al.userId">
                                {{ al.firstname }}   {{ al.lastname }}
                            </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>
                        <div class="row" >
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                                <mat-label>Descriptive Information</mat-label>
                                <textarea matInput placeholder="Descriptive descriptiveInformation" formControlName="descriptiveInformation"></textarea>
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>

                        

                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-select placeholder="Physician" formControlName="physicianId">
                                    <mat-option *ngFor="let al of phyasiciandata" [value]="al.userId">
                                        {{ al.firstname }}   {{ al.lastname }}
                                    </mat-option> 
                                </mat-select>
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field appearance="legacy" class="full-width col-10">
                                <mat-label>Date</mat-label>
                                <input matInput type="date" required formControlName="dateOfAppointment" />
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-1"></div>
                            <mat-form-field class="full-width col-10">
                                <mat-select placeholder="Time" formControlName="timeOfAppointment">
                                    <mat-option *ngFor="let al of Timeslot"  [value]="al" >
                                        {{ al }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="col-1"></div>
                        </div>
                   
                        <!-- <div class="row">
                            <div class="col-4"></div>
                            <div class="full-width col-6">
                            <a class="patientdetails" (click)="backtodashboard()">Patient Details</a>
                        </div>
                            <div class="col-1"></div>
                        </div> 
                        <br/> -->
                        <div class="row">
                            <div class="col-1"></div>
                                <div class="example-button-row full-width col-10">
                                <button type="submit" class="btn btn-primary" [disabled]='!createAppointment.valid'>Add Appointment</button> &nbsp;
                                <button type="submit" (click)="RedirectToNurseScheduling()"  class="btn btn-primary">Cancel</button>
                            <div class="col-1"></div>
                        </div>
                         </div>
                          
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</mat-drawer-content>
</mat-drawer-container> 