<div class="container-fuild">
  
  <div class="row">  
    <div class="col">
  <div class="card">
    <div class="col">
      <form [formGroup]="patientDetails">
        <div><h2>Patient Information </h2></div>
        
        <div class="row">
        <mat-radio-group>
          <mat-label class="label">Title:</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-button value="1" color="primary">Mr&nbsp;</mat-radio-button
          >
          <mat-radio-button value="2" color="primary" 
            >Ms&nbsp;</mat-radio-button
          >
          <mat-radio-button value="3" color="primary" 
            >Mrs&nbsp;</mat-radio-button
          >
          <mat-radio-button value="4" color="primary" 
            >Dr&nbsp;</mat-radio-button
          >
        </mat-radio-group>
      </div>
        <div class="row">
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label class="label">First name</mat-label>
            <input matInput  formControlName="fname"  value="{{fname}}"   />
          </mat-form-field>
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>LastName</mat-label>
            <input matInput   formControlName="lname"   value="{{lname}}"  />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="legacy" class="full-width col-4" >
            <mat-label>DOB</mat-label>
            <input  type="date" matInput formControlName="dob"   value="{{dob}}"  />
           
          </mat-form-field>
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>Age</mat-label>
            <input matInput formControlName="age"/>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="legacy" class="full-width col-3">
            <mat-label>Race</mat-label>
            <input matInput formControlName="race"   />
          </mat-form-field>
          <mat-form-field appearance="legacy" class="full-width col-2">
            <mat-label>Ethnicity</mat-label>
            <input matInput formControlName="ethinicity" />
          </mat-form-field>
          <mat-form-field appearance="legacy" class="full-width col-3">
            <mat-label>Lanaguageknown</mat-label>
            <input matInput  formControlName="languagesKnown" />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>Email </mat-label>
            <input matInput formControlName="email" placeholder="Your email"  value="{{email}}"  />
            <!-- <mat-icon matSuffix>mail_outline</mat-icon> -->
         </mat-form-field>
           <mat-form-field class="full-width col-4">
            <mat-select formControlName="gender" placeholder="Gender"  >
              <mat-option value="3">male </mat-option>
              <mat-option value="4">female</mat-option>
            </mat-select>
          </mat-form-field>  
          
        </div> 
     
        <div class="row">
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>HomeAddress</mat-label>
            <textarea matInput formControlName="homeAddress" ></textarea>
          </mat-form-field>
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>ContantNo:</mat-label>

            <input matInput formControlName="contactNumber" placeholder="Your Phone" />
            <!-- <mat-icon matSuffix>phone</mat-icon> -->
          </mat-form-field>
          <!-- <button mat-flat-button color="primary">Submit</button> -->
        </div>
      <!-- <div class="row">
        <div class="example-button-row">
          <button class="btn btn-outline-primary">Edit</button
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-outline-primary"  (click)="updatebasicdetails()">  Save </button>
        </div>
      </div> -->
      <!-- </form> -->
      <br>    
   <!-- <form [formGroup]="EmerencyInfo"> -->

    <div><h2>Emergency Information </h2></div>
    <br>
        <div class="row">
        <mat-radio-group name="id">
          <mat-label> Do You Need Access To Patient Portal ?</mat-label
          >&nbsp;&nbsp;
          <mat-radio-button value="1"> Yes </mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="2"> No </mat-radio-button>
        </mat-radio-group>
        </div>

        <br />
        <div class="row">
        <mat-radio-group name="id1">
          <mat-label> Patient Has Any Known Allergy ?</mat-label
          >&nbsp;&nbsp;
          <mat-radio-button value="1"> Yes </mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="2"> No </mat-radio-button>
        </mat-radio-group>
        </div>
        <br>
        <div class="row">
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>FirstName</mat-label>
            <input matInput formControlName="emergencyFname" required />
          </mat-form-field>
          <mat-form-field appearance="legacy"  class="full-width col-4">
            <mat-label>LastName</mat-label>
            <input matInput formControlName="emergencyLname" required />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="full-width col-4">
            <mat-select placeholder="Relation" formControlName="relationship" required>
              <mat-option *ngFor="let Rel of Relation" [value]="Rel"  >
                {{ Rel }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>Email Address:</mat-label>
            <input matInput formControlName="emergencyEmail" required />
            <!-- <mat-icon matSuffix>mail_outline</mat-icon> -->
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>Contant No:</mat-label>
            <input
              matInput
              placeholder="Your Phone" formControlName="EmergencyMobileNo"
              required/>

            <!-- <mat-icon matSuffix>phone</mat-icon> -->
          </mat-form-field>
          <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>Home Address</mat-label>
            <textarea matInput required formControlName="emergencyAddress" ></textarea>
            <input matInput />
          </mat-form-field>
        </div>
        <div class="row">
            <div class="example-button-row">

          <button
            class="btn btn-outline-primary"
           >
             Edit
          </button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-outline-primary">
            Cancel
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div></div></div>
