
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container > 
   <mat-drawer mode="side" [opened]="sideBarOpen" >
    <app-patientdetailsdashboard></app-patientdetailsdashboard>
   </mat-drawer>
   <mat-drawer-content>

    <!-- <div class="container">
      <div class="row">
          <div class="col">
              <div class="card col-12 col-md-12 mt-5">
                  <div class="text-center">
                      <h2>Allergy Information</h2>
                  </div> -->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card col-12 col-md-12 mt-2">
                  <div class="text-center">
                      <h2>Personal Information</h2>
                  </div>

                            <form [formGroup]="patientDetails">

                            <div class="row mb-2">
                            <mat-radio-group formControlName="title" [(ngModel)="patientdemodata.title"]>
                              <span> Title:</span>&nbsp;&nbsp;&nbsp;
                              <mat-radio-button class="col-1" value="Mr" color="primary">Mr</mat-radio-button>
                              <mat-radio-button class="col-1" value="Ms" color="primary">Ms</mat-radio-button>
                              <mat-radio-button class="col-1" value="Mrs" color="primary">Mrs</mat-radio-button>
                              <mat-radio-button class="col-1" value="Dr" color="primary">Dr</mat-radio-button>
                            </mat-radio-group>
                          </div>

                            <div class="row">
                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label class="label">First Name</mat-label>
                                <input matInput  formControlName="fname"  value="{{fname}}"  required  />
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Last Name</mat-label>
                                <input matInput   formControlName="lname"   value="{{lname}}" required />
                              </mat-form-field>
                
                              <mat-form-field appearance="outline" class="full-width col-4" >
                                <mat-label>DOB</mat-label>
                                <input  matInput formControlName="dob" [matDatepicker]="picker" [(ngModel)]="getDOB"  required (ngModelChange)="CalculateAge($event)" />
                                <mat-datepicker-toggle
                                  matSuffix
                                  [for]="picker"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                          </div>

                          <div class="row">
                            <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Age</mat-label>
                                <input matInput formControlName="age"   required  [(ngModel)]="age"/>
                              </mat-form-field>                       

                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Race</mat-label>
                                <input matInput formControlName="race"   />
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Ethnicity</mat-label>
                                <input matInput formControlName="ethinicity" />
                              </mat-form-field>
                            </div>

                            <div class="row">
                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Lanaguages known</mat-label>
                                <input matInput  formControlName="languagesKnown" />
                              </mat-form-field>
                
                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Email </mat-label>
                                <input matInput formControlName="email" placeholder="Your email"  value="{{email}}" required />
                                <mat-icon matSuffix>mail_outline</mat-icon>
                             </mat-form-field>

                               <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-select formControlName="gender" placeholder="Gender"  required>
                                  <mat-option value="Male">Male </mat-option>
                                  <mat-option value="Female">Female</mat-option>
                                </mat-select>
                              </mat-form-field>  
                              
                            </div> 
                         
                            <div class="row">
                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Home Address</mat-label>
                                <textarea matInput formControlName="homeAddress"  ></textarea>
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Contant No:</mat-label>                
                                <input matInput formControlName="contactNumber" placeholder="Your Phone" />
                                <mat-icon matSuffix>phone</mat-icon>
                              </mat-form-field>
                              <!-- <button mat-flat-button color="primary">Submit</button> -->
                            </div>
                            <!-- <div class="example-button-row">
                              <button class="btn btn-outline-primary">Edit</button
                              >&nbsp;&nbsp;&nbsp;&nbsp;
                              (click)="updatebasicdetails()" -->
                              <!-- <button class="btn btn-outline-primary" >  Save </button>
                            </div> --> 
                          <!-- </form> -->
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </accordion-group> -->
                  <!-- <accordion-group heading="Patient Emerency Details"> -->
                    <!-- <div class="container"> -->
                      <!-- <div class="row"> -->
                        <div style="text-align: center;">
                          <h2>Emergency Information</h2>
                        </div>
                        <!-- <div class="col-md-8"> -->
                          <!-- (ngSubmit)="updatemerdetails()" -->
                          <!-- <form [formGroup]="EmerencyInfo"   > -->
                            
                            <!-- <input matInput  value="{{Patientid}}" readonly /> -->
                            <!-- <br />
                            <br /> -->
                            <div class="row">
                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>First Name</mat-label>
                                <input matInput  formControlName="emergencyFname"  required  />
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Last Name</mat-label>
                                <input matInput  formControlName="emergencyLname" required  />
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-select  formControlName="relationship" placeholder="Relation" required>
                                  <mat-option>Mother</mat-option>
                                  <mat-option>Father</mat-option>
                                  <mat-option>Brother</mat-option>
                                  <mat-option>Other</mat-option>
                                </mat-select>
                                </mat-form-field>                              
                              
                               <!-- <mat-label>Relation:</mat-label>
                               <input matInput required  formControlName="relationship"  />                          
                              </mat-form-field> -->
                            </div>

                              <div class="row">
                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Email Address:</mat-label>
                                <input matInput required  formControlName="emergencyEmail"  />
                                <mat-icon matSuffix>mail_outline</mat-icon>
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Contact No:</mat-label>
                                <input
                                  matInput
                                  formControlName="emergencyMobileNo"
                                  placeholder="Your Phone"
                                  required/>
                                <mat-icon matSuffix>phone</mat-icon>
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="full-width col-4">
                                <mat-label>Home Address</mat-label>
                                <input matInput formControlName="emergencyAddress" />
                              </mat-form-field>
                            </div>

                            <div class="row">
                            <mat-radio-group name="id" formControlName="portalaccess">
                              <mat-label> Do you need Access to Patient Portal?</mat-label>&nbsp;&nbsp;&nbsp;
                              <mat-radio-button value="Yes"> Yes </mat-radio-button>&nbsp;&nbsp;
                              <mat-radio-button value="No"> No </mat-radio-button>
                            </mat-radio-group>
                           </div>
                          <br/>
                            <div class="example-button-row">
                              <!-- <button
                                class="btn btn-outline-primary"
                               >
                                Edit</button> -->
                                <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                                <!-- [disabled]="!patientDetails.valid"  -->
                              <button class="btn btn-primary" (click)="AddDemographicInfo()" >  Save </button>
                              &nbsp;&nbsp;&nbsp;&nbsp;

                              <button class="btn btn-primary" (click)="Canceltodashboard()" >  Cancel </button>

                            </div>
                          <!-- </form> -->

                          
                        <!-- </div> -->

                      </form>

                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </accordion-group> -->
                
                   <!-- <accordion-group heading="Patient Allery Details"> -->
                  
                  <!-- </accordion-group>  -->
                <!-- </accordion> -->
                   
                
                 

            </div>
        </div>
    </div>
 
</div>

</mat-drawer-content>
</mat-drawer-container> 

