<div class="container-fuild" style="text-align: center;">
    <button class="btn btn-primary Backbtn" (click)="backtoDashbors()" style="float: left;">Back</button>

    <button class="btn btn-primary" style="float: right;" (click)="createappointment()">Create Appointment</button>

    <div class="row">
        <div class="patientHeader">
            <h1>Nurse Scheduling Page</h1>
        </div>
    </div>
    <div>
        <div class="row">
            <ejs-schedule  [selectedDate]='selectedDate' [currentView]='currentView' [eventSettings]='eventSettings'></ejs-schedule>
        </div>
    </div>
</div>

